<!DOCTYPE html>
<html lang="en">
  <head>
    <!--- Based on http://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/ --->
    <title>Ansible Intro 06/20/2017</title>
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
        <h1 class="display-3">Ansible Intro 06/20/2017</h1>
        <p class="lead">Thanks for coming!</p>
      </div>
      {% if file_exists.stat.exists %}
      <div>
        <p>{{ message }}</p>
      </div>
      {% endif %}
    </div>
  </body>
</html>
